*.csv
sentiment_analysis.ipynb
*.txt
*.xlsx
*.html.
*.txt
*.xlsx
*.h5
*.ipynb_checkpoints
sent_analysis-jvsc-b56c25ff-2780-4437-acd4-3231a490e88e604c0a4f-82c3-4665-a2a1-fec96be6e91c.ipynb
archive
FinancialPhraseBank
*.json
get_data_yahoo.ipynb

